@using Whisper.Models
@model Users
@{
    ViewBag.Title = "Login";
}

<div class="login-container ">
    <div class="login-box ">
        <h2>Benvenuto su Whisper!</h2>
        <h3>Login</h3>
        <div class="icon-container text-center mb-4">
            <i class="fa fa-user-circle fa-5x icon"></i>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="mb-3">
                @Html.LabelFor(model => model.Email, new { @class = "form-label" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="mb-3">
                @Html.LabelFor(model => model.Password, new { @class = "form-label" })
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <button type="submit" class="btn btn-sm btn-login my-2 text-white">Login</button>
        }

        <div class="register-link">
            Non sei ancora registrato? <a href="@Url.Action("Create", "Users")">Registrati qui</a>
        </div>
    </div>
    @if (TempData["restore"] != null && (bool)TempData["restore"])
    {
        <div id="restoreModal" class="modal text-shadow cont-3d" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Account Eliminato</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Account precedentemente eliminato. Vuoi riattivarlo?</p>
                    </div>
                    <div class="modal-footer">
                        @using (Html.BeginForm("RestoreAccount", "Auth", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("userId", TempData["userId"])
                            <button type="submit" class="btn btn-login btn-sm">Riattiva Account</button>
                        }
                          <button type="button" class="btn btn-sm btn-back" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                // Mostra la modale al caricamento della pagina
                $('#restoreModal').modal('show');
            });
        </script>
    }
</div>


