@model Whisper.Models.Reports

@{
    ViewBag.Title = "Delete";
}



<div class="login-container">
    <div class="login-box">

        <p class="alert alert-danger">Sei sicuro di voler eliminare questo Report? Questa azione è irreversibile.</p>
        <div>
            <hr />
            <dl class="dl-horizontal">
                @if (Model.CommentId.HasValue)
                {
                    <dt>
                        <label>Contenuto del Commento segnalato</label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Comments.Contents)
                    </dd>
                }


                @*<dt>
                @Html.DisplayNameFor(model => model.Messages.Testo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Messages.Testo)
            </dd>*@
                @if (Model.PostId.HasValue)
                {
                    <dt>
                        <label>Contenuto del Post segnalato</label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Posts.Contents)
                    </dd>
                }

                <dt>
                    <label>Report da parte dell' utente</label>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Users.Username)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DescrizioneReport)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DescrizioneReport)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ReportDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ReportDate)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Elimina Report" class="btn btn-sm btn-danger text-white" />
                    @Html.ActionLink("Annulla", "Index", null, new { @class = "btn btn-sm btn-back ms-2" })

                </div>
            }
        </div>
        </div>
</div>