@model Whisper.Models.Reports

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reports</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comments.Contents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments.Contents)
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.Messages.Testo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Messages.Testo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Posts.Contents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Posts.Contents)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescrizioneReport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescrizioneReport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReportId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
