@model IEnumerable<Whisper.Models.Reports>

@{
    ViewBag.Title = "Index Reports";
}



@foreach (var item in Model)
{
    <div class="report-container my-3 p-3 bg-white rounded shadow">
        <div class="d-flex justify-content-between">
            <div>
                <span class="fw-bold color-wine text-shadow">Report fatto dall'utente:</span> <span class="text-shadow">@item.Users.Username</span> 
                <div class="mt-3">
                    <span class="fw-bold text-shadow color-wine">In Data:</span> <span class="text-shadow">@Html.DisplayFor(modelItem => item.ReportDate)</span> 
                </div>
            </div>
            <div class="report-actions">
                @if (item.PostId.HasValue)
                {
                    if (item.Posts.Users.Stato != "Bannato")
                    {
                        @Html.ActionLink("Dettagli Autore Post 🔍", "Details", "Users", new { id = item.Posts.UserId }, new { @class = "btn btn-sm btn-login text-shadow" })
                    }
                    else
                    {
                        @Html.ActionLink("Utente del post Bannato 💔", "Details", "Users", new { id = item.Posts.UserId }, new { @class = "btn btn-sm btn-login text-shadow" })
                    }
                }
                else if (item.CommentId.HasValue)
                {
                    if (item.Comments.Users.Stato != "Bannato")
                    {
                        @Html.ActionLink("Dettagli Autore Commento", "Details", "Users", new { id = item.Comments.UserId }, new { @class = "btn btn-sm btn-login text-shadow" })
                    }
                    else
                    {
                        @Html.ActionLink("Utente del commento Bannato 💔", "Details", "Users", new { id = item.Posts.UserId }, new { @class = "btn btn-sm btn-login text-shadow" })
                    }
                }
                @Html.ActionLink("Elimina", "Delete", new { id = item.ReportId }, new { @class = "btn btn-danger btn-sm text-shadow" })
            </div>

        </div>
        <div class="report-content mt-3">
            <p class="text-shadow"><span class="fw-bold color-wine">Descrizione del report:</span> @Html.DisplayFor(modelItem => item.DescrizioneReport)</p>
        </div>
        @if (item.PostId.HasValue)
        {
            <div class="reported-content mt-2 d-flex">
                <p class="fw-bold color-wine text-shadow">Post riportato:</p> <span class="ms-2 text-shadow">@Html.DisplayFor(modelItem => item.Posts.Contents)</span> 
            </div>
        }
        @if (item.CommentId.HasValue)
        {
            <div class="reported-content mt-2">
                <p class="fw-bold color-wine text-shadow">Commento riportato:</p> <span class="ms-2 text-shadow">@Html.DisplayFor(modelItem => item.Comments.Contents)</span>
            </div>
        }

    </div>
}
