@model IEnumerable<Whisper.Models.Reports>

@{
    ViewBag.Title = "Index Reports";
}



@foreach (var item in Model)
{
    <div class="report-container my-3 p-3 bg-white rounded shadow">
        <div class="d-flex justify-content-between">
            <div>
                <span class="fw-bold color-wine ">Report fatto dall'utente:</span> <span>@item.Users.Username</span> 
                <div class="mt-3">
                    <span class="fw-bold color-wine">In Data:</span> @Html.DisplayFor(modelItem => item.ReportDate)
                </div>
            </div>
            <div class="report-actions">
                @if (item.PostId.HasValue)
                {
                    if (item.Posts.Users.Stato != "Bannato")
                    {
                        @Html.ActionLink("Dettagli Autore Post", "Details", "Users", new { id = item.Posts.UserId }, new { @class = "btn btn-sm btn-login text-white" })
                    }
                    else
                    {
                        @Html.ActionLink("Utente del post Bannato 💔", "Details", "Users", new { id = item.Posts.UserId }, new { @class = "btn btn-sm btn-login text-white" })
                    }
                }
                else if (item.CommentId.HasValue)
                {
                    if (item.Comments.Users.Stato != "Bannato")
                    {
                        @Html.ActionLink("Dettagli Autore Commento", "Details", "Users", new { id = item.Comments.UserId }, new { @class = "btn btn-sm btn-login text-white" })
                    }
                    else
                    {
                        @Html.ActionLink("Utente del commento Bannato 💔", "Details", "Users", new { id = item.Posts.UserId }, new { @class = "btn btn-sm btn-login text-white" })
                    }
                }
                @Html.ActionLink("Elimina", "Delete", new { id = item.ReportId }, new { @class = "btn btn-danger btn-sm" })
            </div>

        </div>
        <div class="report-content mt-3">
            <p><span class="fw-bold color-wine">Descrizione del report:</span> @Html.DisplayFor(modelItem => item.DescrizioneReport)</p>
        </div>
        @if (item.PostId.HasValue)
        {
            <div class="reported-content mt-2 d-flex">
                <p class="fw-bold color-wine">Post riportato:</p> <span class="ms-2">@Html.DisplayFor(modelItem => item.Posts.Contents)</span> 
            </div>
        }
        @if (item.CommentId.HasValue)
        {
            <div class="reported-content mt-2">
                <p class="fw-bold color-wine">Commento riportato:</p> <span class="ms-2">@Html.DisplayFor(modelItem => item.Comments.Contents)</span>
            </div>
        }

    </div>
}
