@model IEnumerable<Whisper.Models.Aphorisms>

@{
    ViewBag.Title = "Aphorisms Index";
}

<div class="bg-warning p-2 rounded rounded-2 w-75 text-3d">
    <span>@Html.Partial("_aphorism")</span>
</div>


<div class="container" style="max-height: 90vh; overflow-y: auto;">

    <div class="my-5">
        @Html.ActionLink("✒ Create New Aphorism", "Create", null, new { @class = "btn btn-sm text-dark btn-warning" })
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100 cont-3d">
                    <div class="card-body">
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Frase)</p>
                    </div>
                    <div class="card-footer">
                        @Html.ActionLink("Edit", "Edit", new { id = item.AphorismId }, new { @class = "btn btn-sm btn-login text-white me-2" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.AphorismId }, new { @class = "btn btn-sm btn-danger text-white" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>
