@model IEnumerable<Whisper.Models.PostViewModel>
@{
    ViewBag.Title = "Home";
    var loggedInUserId = User.Identity.Name;
}

@if (Model.Any())
{
    <h2 class="color-wine text-center">Benvenuto, @ViewBag.Username</h2>
}
<div class="container mt-4">
    @if (User.IsInRole("User"))
    {
        <p>
            @Html.ActionLink("Scrivi nuovo Bisbiglio", "Create", null, new { @class = "btn btn-sm btn-login text-white" })
        </p>
    }

    @if (User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Inserisci Sponsor", "Create", "Sponsors", null, new { @class = "btn btn-sm btn-login text-white" })
        </p>
    }


    <div class="row">
        <div class="col-md-9">
            @foreach (var item in Model)
            {
                <div id="post-@item.Post.PostId" class="post @*mx-auto*@ my-3 p-3 bg-white rounded shadow">
                    <div class="d-flex justify-content-between align-items-start">
                        <div class="d-flex flex-column">
                            <span class="username icon-pro">@Html.DisplayFor(modelItem => item.Post.Users.Username)</span>
                            <span class="posted-at text-muted" style="font-size: 0.8em;">@(item.Post.PostedAt.HasValue ? item.Post.PostedAt.Value.ToString("dd/MM/yyyy HH:mm") : string.Empty)</span>
                        </div>
                        @if (item.Post.UserId.ToString() == loggedInUserId)
                        {
                            <div class="post-actions">
                                <a href="@Url.Action("Edit", "Posts", new { id = item.Post.PostId })" class="me-2"><i class="fa fa-pencil-alt icon-pro"></i></a>
                                <a href="@Url.Action("Delete", "Posts", new { id = item.Post.PostId })"><i class="fa fa-trash icon-pro"></i></a>
                            </div>
                        }

                    </div>
                    <div class="post-content mt-2 fw-bold border-bottom border-bottom-1 py-3">
                        @Html.DisplayFor(modelItem => item.Post.Contents)
                    </div>


                    @if (item.TotalLikes > 0 || (item.Comments != null && item.Comments.Count > 0))
                    {
                        <div class="d-flex justify-content-between border-bottom border-bottom-1 py-3">
                            @if (item.TotalLikes > 1)
                            {
                                <a href="#" class="likes-count text-decoration-none text-body" style="opacity: 0.8;" data-bs-toggle="modal" data-bs-target="#likesModal-@item.Post.PostId">
                                    @item.TotalLikes Likes
                                </a>
                            }
                            else if (item.TotalLikes > 0)
                            {
                                <a href="#" class="likes-count text-decoration-none text-body" style="opacity: 0.8;" data-bs-toggle="modal" data-bs-target="#likesModal-@item.Post.PostId">
                                    @item.TotalLikes Like
                                </a>
                            }
                            else
                            {


                                <div class="flex-grow-1"></div>
                            }

                            @if (item.Comments != null && item.Comments.Count > 0)
                            {
                                <a href="#" class="text-decoration-none text-body" style="opacity: 0.8;" data-bs-toggle="modal" data-bs-target="#commentsModal-@item.Post.PostId">
                                    Visualizza i commenti (@item.Comments.Count)
                                </a>
                            }
                        </div>
                    }

                    @if (User.IsInRole("User"))
                    {
                        <div class="d-flex border-bottom border-bottom-1 py-3">

                            <form action="@Url.Action("Like", "Likes")" method="post">
                                <input type="hidden" name="postId" value="@item.Post.PostId" />
                                <button class="like-button btn btn-sm btn-login  text-white " data-post-id="@item.Post.PostId">@Html.Raw(item.LikedByUser ? "Ti piace" : "👍 Mi Piace")</button>
                            </form>
                            <button type="button" class="btn btn-sm btn-login text-white ms-3 comment-button" data-post-id="@item.Post.PostId">Scrivi Commento</button>



                            @if (item.Post.UserId.ToString() != loggedInUserId)
                            {
                                using (Html.BeginForm("Create", "Reports", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(_ => loggedInUserId)
                                    @Html.Hidden("PostId", item.Post.PostId)
                                    <button type="submit" class="btn btn-sm btn-login text-white ms-3">Riporta Contenuto</button>
                                }
                            }

                        </div>
                    }


                    <div id="comment-form-container-@item.Post.PostId" class="comment-form-container d-none">
                        @using (Html.BeginForm("Create", "Comments", FormMethod.Post, new { id = $"comment-form-{item.Post.PostId}" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(_ => loggedInUserId)
                            @Html.Hidden("PostId", item.Post.PostId)
                            <textarea name="Contents" class="form-control my-2" placeholder="Scrivi un commento..." maxlength="500" style="resize: none;"></textarea>

                            <button type="submit" class="btn btn-sm btn-login text-white">Pubblica Commento</button>
                            <span id="char-count-@item.Post.PostId">0/500</span>
                        }
                    </div>



                    @*MODALE PER LEGGERE I COMMENTI*@
                    <div class="modal fade" id="commentsModal-@item.Post.PostId" tabindex="-1" aria-labelledby="commentsModalLabel-@item.Post.PostId" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title fs-5" id="commentsModalLabel-@item.Post.PostId">Commenti per il post id @item.Post.Users.Username</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    @foreach (var comment in item.Post.Comments)
                                    {
                                        <div class="comment border-bottom border-bottom-1 py-3">
                                            <div class="d-flex justify-content-between">
                                                <a href="@Url.Action("Details", "Users", new { id = comment.UserId })" class="text-decoration-none">
                                                    <p class="fw-bold icon-pro">@comment.Users.Username</p>
                                                </a>
                                                @if (comment.UserId.ToString() == loggedInUserId)
                                                {
                                                    <span class="post-actions">
                                                        <a href="@Url.Action("Edit", "Comments", new { id = comment.CommentId })" class="me-2"><i class="fa fa-pencil-alt icon-pro"></i></a>
                                                        <a href="@Url.Action("Delete", "Comments", new { id = comment.CommentId })"><i class="fa fa-trash icon-pro"></i></a>
                                                    </span>
                                                }
                                                @if (comment.UserId.ToString() != loggedInUserId)
                                                {
                                                    if (User.IsInRole("User"))
                                                    {
                                                        using (Html.BeginForm("Create", "Reports", FormMethod.Post))
                                                        {
                                                            @Html.AntiForgeryToken()
                                                            @Html.HiddenFor(_ => loggedInUserId)
                                                            @Html.Hidden("CommentId", comment.CommentId)
                                                            <button type="submit" class="btn btn-sm btn-login text-white ms-3">Riporta Contenuto</button>
                                                        }
                                                    }
                                                }
                                            </div>

                                            <span class="posted-at text-muted " style="font-size: 0.8em;">@(comment.PostedAt.HasValue ? comment.PostedAt.Value.ToString("dd/MM/yyyy HH:mm") : string.Empty)</span>
                                            <p class="mt-3">@comment.Contents</p>
                                        </div>
                                    }

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-back text-white" data-bs-dismiss="modal">Chiudi</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*MODALE PER I LIKE*@
                    <div class="modal fade" id="likesModal-@item.Post.PostId" tabindex="-1" aria-labelledby="likesModalLabel-@item.Post.PostId" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title fs-5" id="likesModalLabel-@item.Post.PostId">Utenti che hanno messo like</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-body">
                                        @foreach (var like in item.Post.Likes)
                                        {
                                            <div class="py-3">
                                                <a href="@Url.Action("Details", "Users", new { id = like.UserId })" class="text-decoration-none">
                                                    <p class="icon-pro fw-bold">@like.Users.Username 💜</p>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-back text-white" data-bs-dismiss="modal">Chiudi</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-3">
            <div class="sponsor-container text-center my-3 p-3 bg-light border rounded">
                @*partial view per le pubblicità random*@
                @Html.Action("RandomSponsor", "Sponsors")
            </div>
            <div class="sponsor-container text-center my-3 p-3 bg-light border rounded">
                @*partial view per le pubblicità random*@
                @Html.Action("RandomSponsor", "Sponsors")
            </div>
        </div>
    </div>
</div>
            <script>
$(document).ready(function () {
    $('.like-button').click(function (e) {
        e.preventDefault();
        var postId = $(this).data('post-id');
        var button = $(this);

        $.ajax({
            url: '@Url.Action("Like", "Likes")',
            type: 'POST',
            data: { postId: postId },
            success: function (response) {
                if (response.success) {
                    // Toggle la classe "liked" per cambiare il testo del pulsante.
                    button.toggleClass('liked');
                    var newText = button.hasClass('liked') ? "Ti piace" : "👍 Mi Piace";
                    button.text(newText);

                    // Ricarica la pagina per aggiornare il conteggio dei "like"
                    window.location.reload();
                } else {
                    alert("Operazione non riuscita. Per favore riprova.");
                }
            },
            error: function () {
                alert("Si è verificato un errore nel processo di like. Riprova.");
            }
        });
    });


    // Aggiungi gestore eventi per il bottone "Scrivi Commento"
    $('.comment-button').click(function () {
        var postId = $(this).data('post-id');
        var commentFormContainer = $('#comment-form-container-' + postId);

        // Mostra o nasconde la textarea per i commenti
        commentFormContainer.toggleClass('d-none');

    });
     $(document).on('input', 'textarea[name="Contents"]', function() {
        var charCount = $(this).val().length;
        var postId = $(this).closest('form').find('input[name="PostId"]').val();
        $('#char-count-' + postId).text(charCount + '/500');
    });
});
            </script>



